{
  "extends": "airbnb-base",
  "parserOptions": {
    "sourceType": "script"
  },
  "env": {
    "node": true
  },
  "rules": {
    "no-console": 0,
    "max-len": [
      "error",
      180
    ],
    "valid-jsdoc": [
      "error",
      {
        "requireParamDescription": false,
        "requireReturnDescription": false,
        "requireReturn": false,
        "prefer": {
          "return": "returns"
        },
        "preferType": {
          "boolean": "Boolean",
          "number": "Number",
          "object": "Object",
          "string": "String"
        }
      }
    ]
  }
}
